<h1>Portmod</h1>

<div id="grid">

<div id="repomenu">
<ll>
    <li><a href="https://gitlab.com/portmod/portmod/">Git Repository</a></li>
    <li><a href="https://portmod.gitlab.io/portmod/">Documentation</a></li>
    <li><a href="https://gitlab.com/portmod/portmod/-/wikis/home">Wiki</a></li>
</ll>
</div>

<div id="modmain">
A cross-platform cli package manager for mods. Based on Gentoo's Portage package manager.
<div id="repositories"/>
</div>

</div>
